* {
    margin: 0;
}

body {
    background-color: white;
    font-family: 'DM Sans', sans-serif;
}

p {
    color: dimgray;
}

a {
    text-decoration: none;
    color: dimgray;
}

h4 {
    font-size: larger;
}

h2 {
    margin-bottom: 1em;
}



/* Nav bar Styling  */
.topBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
}

.logo {
    display: flex;
}
    .logo h4 {
        margin-top: auto;
        margin-bottom: auto;
        margin-right: .5em;
        color: black;
    }
    .logo p {
        margin-top: auto;
        margin-bottom: auto;
        color:rgb(50, 158, 135);
    }

nav {
    text-align: right;
}
    nav a {
        text-decoration: none;
        margin-left: .5em;
    }
        nav a:hover {
            color:rgb(50, 158, 135);
        }

/* Index Page */

.container img {
    width: 100%;
}
.headerImg {
    margin: 1.5em;
}


#dojoPic {
    border-radius: 50%;
}

header {
    text-align: center;
    margin: 3em;
    background-color: #D8EDE6;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 5%;
    margin-top: 1em;
    border-radius: 2em;
}
    header hr {
        width: 20%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1.5em;
        margin-top: 1.5em;
    }

    header p {
        margin-bottom: .5em;
        font-family: serif;
        font-style: italic;
    }

    header h1 {
        letter-spacing: .3em;
        font-size: 3em;
        font-family: 'Oswald', sans-serif;

    }

    header img {
        border-radius: 1em;
    }

    header .headerText {
        background-color: white;
        border-radius: 1em;
        aspect-ratio: 1/1;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 1.5em;
    }


.subs {
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
}

.subsections a {
    width: 7em;
    height: 4em;
    border-radius: 2em;
    background-color:rgb(50, 158, 135);
    border: solid transparent;
    margin-right: .5em;
    margin-left: .5em;
    margin-top: 1.5em;
    font-family: "DM Sans";
    color: white;
}

    .subsections a:hover {
        color: black;
        background-color:transparent;
        border: solid 1px black;
    }

/* Contact and Portfolio */

.box {
    padding: 2em;
    margin-top: 3em;
    margin-left: 15%;
    margin-right: 15%;
    /*box-shadow: 1px 3px 10px #bbbbbb;*/
    color: black
    ;
    margin-bottom: 3em;
}
.box-content {
    padding: 2em;
    margin-top: 3em;
    margin-left: auto;
    margin-right: auto;
    /*box-shadow: 1px 3px 10px #bbbbbb;*/
    color: black;
    ;
    margin-bottom: 3em;
}

.centered {
    display: flex;
    justify-content: center;
    padding: 2em;
    margin-top: 3em;
    /*box-shadow: 1px 3px 10px #bbbbbb;*/
    color: black;
    margin-bottom: 3em;
}

.line {
    display: flex;
    align-content: center;
    padding: .5em;
    margin-bottom: .5em;
}

    .line i {
        margin-right: 1em;
        vertical-align: middle;
        margin-top: auto;
        margin-bottom: auto;
    }

    .line h4 {
        margin-top: auto;
        margin-bottom: auto;
        margin-right: 1em;
        font-size:larger;
    }

    .line p {
        margin-top: auto;
        margin-bottom: auto;
    }

    .line a {
        text-decoration: none;
        color: dimgray;
        margin-top: auto;
        margin-bottom: auto;
    }
        .line a:hover {
            color:rgb(50, 158, 135);
        }

.miniLine {
    margin-left: 3.5em;
    display: flex;
    margin-bottom: 1em;
}

    .miniLine li {
        margin-left: 1.7em;
        margin-top: .5em;
        margin-bottom: .5em;
    }
    .miniLine p {
        width: 15%;
    }

    .miniLine ul {
        width: 85%;
    }

        .miniLine ul p {
            width: 100%;
            font-style: italic;
            margin-top: .3em;
            color:rgb(50, 158, 135);
        }
        .miniLine ul li {
            color: dimgray;
        }

.undated {
    margin-left: 2em;
    margin-bottom: 1em;
}
    .undated li {
        margin-top: .5em;
        margin-bottom: .5em;
        color: dimgray;
    }

hr {
    margin-bottom: 1em;
}

.titleBar {
    text-align: center;
    margin-top: .5em;

}

/* Footer content */

footer {
    width: 100%;
    text-align: center;
    margin-bottom: 1em;
}

    footer hr {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    footer a {
        margin-left: 1em;
        margin-right: 1em;
    }
    footer a:hover{
        color:rgb(50, 158, 135);
    }


.page-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    min-height: 100vh;
}


/* About page */

.dot {
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background-color: wheat;
}
