* {
    margin: 0;
}

body {
    background-color: white;
    font-family: 'DM Sans', sans-serif;
}

p {
    color: dimgray;
}

a {
    text-decoration: none;
    color: dimgray;
}


/* Nav bar Styling  */
.topBar {
    display: flex;
    justify-content: space-between;
    padding: 2em;
}

.logo {
    display: flex;
}
    .logo h4 {
        margin-right: .5em;
        color: black;
    }

nav {
    text-align: right;
}
    nav a {
        text-decoration: none;
        margin-left: .5em;
    }
        nav a:hover {
            color:cadetblue;
        }

/* Index Page */

header {
    text-align: center;
    margin: 5em;
    background-color: #D8EDE6;
    padding: 4em;
    margin-top: 1em;
    border-radius: 2em;
}

    header .header-flex {
        display: flex;
        justify-content: space-around;
        margin-left: 20%;
        margin-right: 20%;
    }
        header .header-flex img {
            width: 40%;
            height: auto;
            margin: 2em;
            margin-top: auto;
            margin-bottom: auto;
            border-radius: 1em;
        }

    header .headerText {
        background-color: white;
        width: 40%;
        margin: 2em;
        border-radius: 1em;
        text-align: center;
        aspect-ratio: 3/4;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    header hr {
        width: 20%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1.5em;
        margin-top: 1.5em;
    }

    header p {
        margin-bottom: .5em;
        font-family: serif;
        font-style: italic;
    }

 
.headerText h1 {
    margin-top: .3em;
    letter-spacing: .3em;
    font-size: 2.5em;
    font-family: 'Oswald', sans-serif;

}

.subs {
    display: flex;
    justify-content: center;
}


.subsections button {
    width: 6em;
    height: 4em;
    border-radius: 2em;
    background-color:black;
    border: solid transparent;
    margin-right: 1em;
    margin-top: 1.5em;
    font-family: "DM Sans";
    color: white;
}

    .subsections button:hover {
        color: black;
        background-color:transparent;
        border: solid 1px black;
    }

/* Contact and Portfolio */

.box {
    padding: 2em;
    margin-top: 3em;
    margin-left: 15%;
    margin-right: 15%;
    /*box-shadow: 1px 3px 10px #bbbbbb;*/
    color: black
    ;
    margin-bottom: 3em;
}
.box-content {
    padding: 2em;
    margin-top: 3em;
    margin-left: auto;
    margin-right: auto;
    /*box-shadow: 1px 3px 10px #bbbbbb;*/
    color: black;
    ;
    margin-bottom: 3em;
}

.centered {
    display: flex;
    justify-content: center;
    padding: 2em;
    margin-top: 3em;
    /*box-shadow: 1px 3px 10px #bbbbbb;*/
    color: black;
    margin-bottom: 3em;
}

.line {
    display: flex;
    padding: .5em;
    vertical-align: middle;
    margin-bottom: .5em;
}

    .line i {
        margin-right: 1em;
        vertical-align: middle;
        margin-top: auto;
        margin-bottom: auto;
    }

    .line h4 {
        vertical-align: middle;
        margin-top: auto;
        margin-bottom: auto;
    }

    .line a {
        text-decoration: none;
        color: dimgray;
        margin-top: auto;
        margin-bottom: auto;
    }
        .line a:hover {
            color:cadetblue;
        }

.miniLine {
    margin-left: 3.5em;
    display: flex;
    margin-bottom: 1em;
}

    .miniLine li {
        margin-left: 1.7em;
        margin-top: .5em;
        margin-bottom: .5em;
    }
    .miniLine p {
        width: 15%;
    }

    .miniLine ul {
        width: 85%;
    }

        .miniLine ul p {
            width: 100%;
            font-style: italic;
            margin-top: .3em;
            color:cadetblue;
        }
        .miniLine ul li {
            color: dimgray;
        }

.undated {
    margin-left: 2em;
    margin-bottom: 1em;
}
    .undated li {
        margin-top: .5em;
        margin-bottom: .5em;
    }

hr {
    margin-bottom: 1em;
}

.titleBar {
    text-align: center;
    margin-top: .5em;

}

footer {
    width: 100%;
    text-align: center;
    margin-bottom: 1em;
}

    footer hr {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    footer a {
        margin-left: 1em;
        margin-right: 1em;
    }
    footer a:hover{
        color:cadetblue;
    }


.page-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    min-height: 100vh;
}


/* About page */

.about-container {
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
}
    .about-container .column {
        width: 33%;

    }

.column h2 {
    margin-bottom: 1em;
}
.column .line h4{
    margin-right: 1em;
}

.column img {
    width: 70%;
    border-radius: 50%;
    margin-left: 15%;
    margin-right: 15%;
}

.dot {
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background-color: wheat;
}




 